In [15]:
import pandas
import numpy as np

In [16]:
dataset = pandas.read_csv('ozone.csv')

In [17]:
dataset.head(3)

,Month,Day_of_month,Day_of_week,ozone_reading,pressure_height,Wind_speed,Humidity,Temperature_Sandburg,Temperature_ElMonte,Inversion_base_height,Pressure_gradient,Inversion_temperature,Visibility
0,1,1,4,3.01,5480.0,8,20.0,NaN,NaN,5000.0,-15.0,30.56,200
1,1,2,5,3.20,5660.0,6,NaN,38.0,NaN,NaN,-14.0,NaN,300
2,1,3,6,2.70,5710.0,4,28.0,40.0,NaN,2693.0,-25.0,47.66,250

In [18]:
sns.boxplot(x=boston_df['DIS'])

NameError: name 'sns' is not defined